@import "mytheme-abc.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme-abc {
  @include addons;
  @include mytheme-abc;

	.popupContent .v-window-wrap .v-window-contents > .v-scrollable:before
	{
	border-top: 2px solid black !important;
	}
	
	.test {
		background: black;
	}
	
	.v-horizontallayout.mylayout {
		background: yellow;
		width: 500px;
	}

}
